.main{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 85%;
    background-color: rgba(141, 141, 141, 0.838);
    border-radius: 10px;
    margin: 5px 2px 5px 0px;
}