.MainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000000;
    align-self: auto;
}

.section1{
    width: 80%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}