.MainContainer{
    width: 100%;
    height: 100%;
    background-color: #00000000;
    align-self: auto;
    margin-top: 2rem;
}

.section1{
    width: 80%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label{
    margin-left: 38px;
    margin-bottom: 1.5rem;
}

.hrLine {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
  }
  