.main{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.container{
  display: flex;
  width: 88%;
  background-color: rgb(131 131 131 / 20%);
  box-sizing: content-box;
  overflow-y: auto;
  margin-left: -7px;
  padding: 6px 6px 6px 12px;
}

.container::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }
  
.container::-webkit-scrollbar-thumb {
    background-color: #0b1145; /* Cor do botão de rolagem */
    border-radius: 5px; /* Borda arredondada do botão de rolagem */
  }
  
.container::-webkit-scrollbar-track {
    background-color: #c9c9c900; /* Cor de fundo da barra de rolagem */
}

.container::-webkit-scrollbar {
  right: 5px; /* Move a barra de rolagem 5 pixels para a esquerda */
}

.aSideBar{
  display: flex;
    background-color: white;
    z-index: 1;
    width: 2%;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0px 0px 10px;
    margin-left: -7px;
}