.navbar{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0px 10px 10px 0px;
}

.logo{
    position: relative;
    height: 17%;
    margin-left: 11px;
    width: 85%;
    margin-top: 2em;
}

.section{
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    height: 50%;
    justify-content: center;
    margin-top: 2em;
}

.buttons{
    margin-left: 1em;
}

.footer{
    height: 30%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}

.buttonsFotter{
    display: flex;
    width: 13%;
    background-color: #026306;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
}

.buttonsFotter:active{
    background-color:#e5810f!important;
}


.buttonsFotter:hover{
    background-position: right center;
    background-size: 200% auto; 
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1s infinite;
}


@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #010a0cfd;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }