.buttonSub{
    height: 32px;
    width: 146px;
    border-radius: 1.2rem;
    margin-right: 6px;
    margin-bottom: 0.8rem;
    margin-top: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(0, 0, 0, .1);
    background-color: #026306;
    color: white;
    font-size: 14px;
}


.buttonSub:active{
    background-color:#e5810f!important;
}


.buttonSub:hover{
    background-position: right center;
    background-size: 200% auto; 
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1s infinite;
}


@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #010a0cfd;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }