.buttons{
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -moz-fit-content;
    width: 93%;
    padding: 5px 7px;
    border-radius: 1.2rem;
    margin-right: 6px;
    margin-bottom: 0.8rem;
    margin-top: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(0, 0, 0, .1);
}
.label{
    margin-left: 5px;
}


.buttons:hover{
    background-position: right center;
    background-size: 200% auto; 
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1s infinite;
}


@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #010a0cfd;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }